@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: auto;
    src: url(fonts/autoradiographicrg.ttf);
    font-weight: regular;
}


body {
	background-color: #f0f6fa
}

header {
	height: 100px;	
	background-color: #3371b8;
	margin: -20px;
}

#content {
	height: 500px;
	width: 900px;	
}


/* Login */

.container {
  margin: 80px auto;
  width: 640px;
}

.login {
  position: relative;
	padding: 40px;
	width: 310px;
	background: #FFF none repeat scroll 0% 0%;
	border-radius: 3px;
	margin: 0px 0px 0px 320px;
	box-shadow: 10px 10px 10px #CCC;

  &:before {
    content: '';
    position: absolute;
    top: -8px; right: -8px; bottom: -8px; left: -8px;
    z-index: -1;
    background: rgba(black, .08);
    border-radius: 4px;
  }

  h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    @include linear-gradient(top, whiteffd, #eef2f5);
    @include box-shadow(0 1px #f5f5f5);
  }

  p { margin: 20px 0 0; }
  p:first-child { margin-top: 0; }

  input[type=text], input[type=password] { width: 278px; }

  p.remember_me {
    float: left;
    line-height: 31px;

    label {
      font-size: 12px;
      color: #3371b8;
      cursor: pointer;
    }

    input {
      position: relative;
      bottom: 1px;
      margin-right: 4px;
      vertical-align: middle;
    }
  }

  p.submit { text-align: right; }
}

.login-help {
  margin: 20px 0;
  font-size: 14px;
  color: #3371b8;
  margin-left: 390px;

  a {
    color: #cce7fa;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
  margin-left: 37px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  margin-left: 40px;

  &:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0; // WebKit sets this to -1 by default
  }
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #62c090;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;

  &:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
  }
}

.lt-ie9 {
  input[type=text], input[type=password] { line-height: 34px; }
}




footer {
	height: 40px;
	background-color: #3371B8;
	margin: -8px -8px -18px;
	color: #fff;
	padding: 10px 0px 12px 40px;
}